.footer {
  background-color: #543d3d;
}
.container_footer {
  display: flex;
  justify-content: space-between;
  background-color: #543d3d;
  //   align-items: center;
}
.footer__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  padding-left: 15px;
}
.logo {
  font-family: "Maxmillion";
  color: #300d0d;
  font-size: calc(var(--index) * 1.2);
}
.feather {
      max-width: calc(var(--index) * 2);
}
.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.thanks {
  font-family: "GNUTypewriter", "Old Soviet";
  color: #300d0d;
  font-size: calc(var(--index) * 0.8);
}
.ekg {
  max-width: calc(var(--index) * 8);
}
.footer__right {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(var(--index) * 2);
  padding-right: 15px;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(var(--index) * 0.8);
}
.icon {
  max-width: calc(var(--index) * 1.5);
  cursor: url(../../src/images/wrist.webp), pointer;
  border: none;
  width: 100%;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  border: 3px solid transparent;
}
.contacts__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.info {
  font-family: "GNUTypewriter", "Old Soviet";
  color: #300d0d;
  font-size: calc(var(--index) * 0.6);
  // cursor: url(../../images/wrist.webp), pointer;
}
.icon_telephone {
  max-width: calc(var(--index) * 2);
}
.icon_contacts {
  max-width: calc(var(--index) * 1.5);
  border: none;
  width: 100%;
}
// .contacts:target {
//   border-color: #71a819;
// }