.footer {
  background-color: #543d3d;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  background-color: #543d3d;
}

.footer__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  padding-left: 15px;
}

.logo {
  font-family: "Maxmillion";
  color: #300d0d;
  font-size: calc(var(--index) * 1.2);
  cursor: url(../../src/images/wrist.webp), pointer;
}

.feather {
  max-width: calc(var(--index) * 2);
}

.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.thanks {
  font-family: "GNUTypewriter", "Old Soviet";
  color: #300d0d;
  font-size: calc(var(--index) * 0.8);
}

.ekg {
  max-width: calc(var(--index) * 8);
}

.footer__right {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(var(--index) * 2);
  padding-right: 15px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(var(--index) * 0.8);
  margin-top: 15px;
}

.icon {
  max-width: calc(var(--index) * 1.5);
  cursor: url(../../src/images/wrist.webp), pointer;
  border: none;
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  border: 3px solid transparent;
}

.contacts__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.info {
  font-family: "GNUTypewriter", "Old Soviet";
  color: #300d0d;
  font-size: calc(var(--index) * 0.6);
}

.icon_telephone {
  max-width: calc(var(--index) * 2);
}

.info_tel {
  cursor: url(../../src/images/wrist.webp), pointer;
}

.icon_contacts {
  max-width: calc(var(--index) * 1.5);
  border: none;
  width: 100%;
}

/* МЕДИАЗАПРОСЫ ДЛЯ FOOTER */

/* Адаптив для больших экранов (2100px и выше) */
@media (min-width: 2100px) {
  .social {
    margin-top: 15px;
  }
}

/* Адаптив для экранов меньше 575 */
@media (max-width: 575px) {
  .contacts__info {
    gap: 5px;
  }

  .container_footer {
    padding-bottom: 10px;
  }

  .footer__right {
    margin-top: 10px;
    gap: 5px;
    padding-right: 10px;
    flex-direction: column-reverse;
  }

  .footer__left {
    padding-left: 10px;
  }

  .icon {
    max-width: calc(var(--index) * 1.1);
  }

  .social {
    padding-left: 5px;
  }
}