@use "../../src/styles/config";
@use "../../src/styles/layout";
@use "../../src/styles/sections/main";
@use "../../src/styles/sections/header";
@use "../../src/styles/sections/cards";
@use "../../src/styles/sections/slider";
@use "../../src/styles/sections/footer";
@use "../styles/blocks/popups";
@use "../styles/blocks/cookies";
