@import "../../src/styles/config";
@import "../../src/styles/layout";
@import "../../src/styles/sections/main";
@import "../../src/styles/sections/header";
@import "../../src/styles/sections/cards";
@import "../../src/styles/sections/slider";
@import "../../src/styles/sections/footer";
@import "../styles/blocks/popups";